# Managed by ansible.
# file: {{ template_destpath }}

{% for __freeradius_account in freeradius_users %}
{{ __freeradius_account.name | to_json }} Cleartext-Password := '{{ __freeradius_account.password | replace('\\', '\\\\') | replace("'", "\\'") }}'
{% endfor %}
